
:root {
/*colors*/
  --unnamed-color-2f6b26: #345c2e;
  --unnamed-color-001000: #001000;
  --unnamed-color-a2cf44: #A2CF44;
  /* Font/text values */
--unnamed-font-family-export: Export;
--unnamed-font-family-museo-sans-cond: Museo Sans Cond;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-22: 22px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-50: 50px;
--unnamed-font-size-70: 70px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-27: 27px;
--unnamed-line-spacing-28: 28px;
--unnamed-line-spacing-57: 57px;
--unnamed-line-spacing-79: 79px;
-webkit-tap-highlight-color: black
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-museo-sans-cond);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-export);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-70);
line-height: var(--unnamed-line-spacing-79);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-export);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-50);
line-height: var(--unnamed-line-spacing-57);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-export);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-28);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
}

.navbar .navbar-expand-sm .navbar-light .bg-light{
  box-shadow: 0 5px 10px black;
  background-color: var(--unnamed-color-001000);
  color: var(--unnamed-color-a2cf44);
  text-transform: uppercase;
  text-decoration: none;
}

li a {
  color: var(--unnamed-color-a2cf44); 
}
.logo
{
width: 30px;
height: 30px;
}

html {
  margin: 0px;
  padding: 0px;
}     

*{
margin: 0;
padding:0;
box-sizing: border-box;
}

body {
font-family: var(--unnamed-font-family-fira);
background: linear-gradient(0.25turn, var(--unnamed-color-2f6b26), var(--unnamed-color-051B04), var(--unnamed-color-001000));
margin: 0;
padding: 0;
min-height: 100vh;
}

h1 {
  color: var(--unnamed-color-a2cf44);
}

h6 {
  color: var(--unnamed-color-a2cf44);
}
.navbar {
  background-color: var(--unnamed-color-001000
  );
}

.bila {
  color: white;
}

.green44 {
  color: var(--unnamed-color-a2cf44);
}

.black {
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--unnamed-color-a2cf44);
 /* background-image: linear-gradient(90deg, var(--unnamed-color-2f6b26), black);*/
}

footer a {
  text-decoration: none;
  color: var(--unnamed-color-a2cf44)
}

footer p {
  text-align: center;
}

.katalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grafika {
  background-color: none;
  background-size: contain;

}

.katolog--icons {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.kategorie--grafika {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.icons--grafika {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: var(--unnamed-color-a2cf44);
  text-transform: uppercase;
  
}

.btn-outline-success {
  background-color: var(--unnamed-color-a2cf44);
}

.icons--grafika:hover {
color: aliceblue;
}

.grafika {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  border: 3px solid #a2cf44;
  background-size: 60% auto;
  background-position:  center center;
  background-repeat: no-repeat;
}

.icons--grafika:hover {
  color: white;
}

.kvalita {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.ceskaKvalita {
background-color: white;
width: 100%vw;
height: 80%vh;

}

.ceskaKvalita--symbol {
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.ceskaKvalita--title {
  color: var(--unnamed-color-001000);
}

.home-container h1 {
  font-family: Export;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  margin-top: 70px;
}
.ceskaKvalita--title h1 {
  color: var(--unnamed-color-001000);
    font-family: Export;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    margin-top: 70px;
}

.ceskaKvalita--content {
  margin-bottom: 70px;
  margin-top: 30px;
}



.poplatky--podcarou, .poplatky--cenik {
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-a2cf44);
text-align: left;
font-family: var(--unnamed-font-family-export);
letter-spacing: 0px;
color: #A2CF44;
opacity: 1;
}



.ceskaKvalita--title
{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-57) var(--unnamed-font-family-export);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-001000);
text-align: left;
font: normal normal normal 50px/57px Export;
letter-spacing: 0px;
color: #001000;
opacity: 1;
}


/* komponenta vyrobek*/
.vyrobek--komponenta {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
  height: auto;
  margin: 2%;
  padding: 2%;
}

.vyrobek--form {
 text-align: right; 
}

.vyrobek--import {
  text-align: left;
}

.vyrobek--title {
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-museo-sans-cond);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-001000);
text-align: left;
font-family: "museo-sans-condensed";
letter-spacing: 0px;
color: #001000;
opacity: 1;
font-weight: bold;
}
 
#bold1 {
  font-weight: bold;
}

.vyrobek--form {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/22px var(--unnamed-font-family-museo-sans-cond);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2f6b26);
text-align: right;
font-family: "museo-sans-condensed";
letter-spacing: 0px;
color: #2F6B26;
opacity: 1;
}

.vyrobek--import {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/22px var(--unnamed-font-family-museo-sans-cond);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2f6b26);
text-align: left;
font-family: "museo-sans-condensed";
letter-spacing: 0px;
color: #2F6B26;
opacity: 1;
font-weight: bold;
}

#odpad1 {
  background-color: aliceblue;
  width:100vw;
  height: 100vh;
}

.tlacitko__detail {
  height: 39px;
  background-color: #a2cf44;
  color: #001000;
  font-family: Export;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.znacka--eu {
  background-color: #fff;
}

.znackaeu--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.znacka--esv {
  background-color: #fff;
}

.stazeni {
  background-color: #fff;
}

.button--content {

  display: flex;
  flex-direction: column
}

.principy-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  }

.principy-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.principy-ikona {
  width: 184px;
  height: 184px;
  aspect-ratio: 1/1;

}

.principy-grafika {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principy-text {
  font-family: "museo-sans-condensed";
  letter-spacing: 0px;
  color: #2F6B26;
  opacity: 1;
  font-size: 24px;
  padding: 16px ;
  text-align: center;
  align-self: center;
  max-width: 100%;
  flex-basis: auto;
}

#sipka {
  width: 120px;
  height: 120px;
}

.zarovnani {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infografika {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.infografika--img {
  width: 400px;
  height: 240px;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 240px;
  background-image: url("img/animace/uivatel.png");
}


.infografika-animace {
  display:flex;
  flex-direction: row;
}

.infografika--text {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: flex-end;

}

.infografika--cislo {
  text-align: left;
  color: #2F6B26;
  font-size: 48px;
  
}


.faq-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq {
  background-color: #fff;
  border: 3px solid #a2cf44;
 
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  border:3px solid #a2cf44;
 
}

.faq.active::before,
.faq.active::after {
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color:#A2CF44;
  ;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #2F6B26;
  ;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-chevron-up {
  display: none;
}

.faq.active .faq-toggle .fa-chevron-up {
  color: rgb(8, 8, 8);
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #fff;
  
}

#faq--borders {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.esveu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.esveu--content {
  margin: 2%;
}

.certifikace {
  background-color: #fff;
}

.zakazky--btn {
  display: flex;
  flex-direction: row;
}

.vyrobek--form p{
  text-align: right;
}

.vyrobek--import p{
  text-align: left;
}

.vyrobek--popis h4 {
  font-family: "museo-sans-condensed";
    text-align: left;
    letter-spacing: 0px;
    color: #2F6B26;
    opacity: 1;
    font-size: 24px;
    font-weight: bold;
}





